[Unit]
Description=Run Persona Management monitor every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitor.service

[Install]
WantedBy=timers.target
